.users {
	display: flex;
	.users-list {
		table {
			font-size: 12px;
			width: 100%;
			border-spacing: 0px 4px;
			th {
				text-align: left;
			}

			tbody tr {
				background-color: var(--row);
				td {
					padding: 4px;
				}
			}
		}
	}
}
